{% extends 'base.html' %}

{% block content %}
<div class="about-page d-flex justify-content-center align-items-start" style="min-height: 100vh; padding-top: 2rem;">
	<div class="card semi-transparent" style="margin: 1.5rem; max-width: 80%; width: auto;">
		<div class="card-body">
			<p>
				TripMixer is your ultimate gateway to crafting unforgettable journeys. With our intuitive platform, you
				can effortlessly plan your holiday, select your dream destinations, and tailor a custom itinerary that
				perfectly suits your travel style. But TripMixer is more than just a planning tool; it's a vibrant
				community of travelers. <br>
				Share your adventures in blog posts, discover new places through the experiences
				of others, and gather inspiration for your next escape. Whether you're a seasoned explorer or a
				first-time traveler, TripMixer makes it easy to navigate the world, one trip at a time.
			</p>
		</div>
	</div>
</div>
{% endblock %}