{% extends 'base.html' %}

{% block title %}Blog | TripMixer{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1>Welcome!</h1>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-6"> <!-- Adjust column size here -->
            <div class="card mb-4">
                <!-- Carousel for post images -->
                <div id="carouselPost{{ post.id }}" class="carousel slide" data-bs-interval="false">
                    <div class="carousel-inner">
                        {% for image in post.image_set.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ post.title }}"
                                style="max-height:20.5rem;">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPost{{ post.id }}"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPost{{ post.id }}"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- Post title and description snippet -->
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="h6 mt-3"><em>Author : {{post.user}}</em></p>
                    <p class="h6 mb-3"><em>Published Date : {{post.create_date|date:"j N Y"}}</em></p>
                    <p class="card-text">{{ post.description|truncatewords:20 }}...</p>
                    <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}