{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1>My Posts</h1>
<a class="btn btn-custom1 mb-4" href="{% url 'post-create' %}">New Post</a>
<div class="container">
    {% for post in posts %}
    <div class="card mb-3 mb-sm-4">
        <div class="card-body">
            <a class="stretched-link" href="{% url 'post-detail' post.id %}"></a>
            <h5 class="card-title">{{ post.title }}</h5>
            <img src="{{ post.image_set.all.0.image.url }}" width="120" />
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}