{% extends 'base.html' %}
{% block content %}

<div>{{ post.title }}</div>
<div>{{ post.description|linebreaks }}</div>
<div class="card-action">
    {% if user.is_authenticated %}
    <a class="btn btn-sm btn-custom" href="{% url 'post-update' post.id %}">Edit</a>
    <a class="btn btn-sm btn-custom" href="{% url 'post-delete' post.id %}">Delete</a>
    {% endif %}
</div>
<div>
    {% for i in post.image_set.all %}
    <img src="{{ i.image.url }}" width="120" />
    {% endfor %}
</div>

{% endblock %}