{% extends 'base.html' %}
{% block content %}

<div class="container mt-3">
    <h2>{{ post.title }}</h2>
    <!-- Carousel -->
    <div id="postImagesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for i in post.image_set.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ i.image.url }}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#postImagesCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#postImagesCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p>{{ post.description|linebreaks }}</p>
    <div class="mb-3">
        <a href="{% url 'post-update' post.id %}" class="btn btn-custom1">Edit</a>
        <a href="{% url 'post-delete' post.id %}" class="btn btn-custom1">Delete</a>
    </div>


</div>


{% endblock %}