{% extends 'base.html' %}
{% block content %}

<style>
    a {
        text-decoration: none;
        color: black;
    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .section {
        width: 400px;
        border: 1px solid black;
    }

    .post-card {
        margin: 20px;
        border: 1px solid grey;
        padding: 5px;
    }

    .section-header {
        width: 100%;
        background: grey;
        color: white;
        text-align: center;
        padding: 5px 0 5px 0;
        margin-bottom: 10px;
    }

    .section-footer {
        width: 100%;
        background: grey;
        margin-top: 10px;
    }

    .section-footer a {
        color: white;
        text-decoration: none;
        text-align: center;
    }

    .btn {
        border: 1px solid rgb(80, 80, 80);
        background: grey;
        color: white;
    }
</style>

<div class="container mt-4">
    <h1>My Posts</h1>
    <a class="btn-custom mb-3" href="{% url 'post-create' %}">New Post</a>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if post.image_set.first %}
                <img src="{{ post.image_set.first.image.url }}" class="card-img-top" alt="{{ post.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <a href="{% url 'post-detail' post.id %}" class="btn-custom1">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}