{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="banner-container">
    <img src="{% static 'planner/images/banner.jpg' %}" alt="Travel Banner" class="img-fluid" />
</div>


<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>Welcome {{ user.username }}!</h1>
        </div>
    </div>

    <div class="row  mt-4">
        <div class="col-lg-4">
            <div class="card mb-sm-4">
                <div class="card-header">
                    My Holidays
                </div>
                <ul class="list-group list-group-flush">
                    {% for holiday in holidays %}
                    <li class="list-group-item">
                        <h5 class="card-title">{{ holiday.name }}</h5>
                        <p class="card-text small text-muted">{{ holiday.start_date }} - {{ holiday.end_date }}</p>
                        {% for destination in holiday.destination_set.all %}
                        <span style="background-color:#00bf63 !important;" class="badge bg-secondary">
                            {{ destination.location }}</span>
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
                <div class="card-footer d-flex justify-content-center">
                    <a href="{% url 'holiday-list' %}" class="btn-custom1">View my holidays</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card mb-sm-4">
                <div class="card-header">
                    My Posts
                </div>
                <div class="card-body">
                    <!-- list of recent blog posts by user -->
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <a href="{% url 'holiday-list' %}" class="btn-custom1">View my posts</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card mb-sm-4">
                <div class="card-header">
                    Following
                </div>
                <div class="card-body">
                    <!-- list of recent blog posts by other users -->
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <a href="{% url 'holiday-list' %}" class="btn-custom1">View all following</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}