{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard | TripMixer{% endblock %}

{% block content %}

<div class="banner-container">
    <img src="{% static 'planner/images/banner.jpg' %}" alt="Travel Banner" class="img-fluid" />
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>Welcome {{ user.username }}!</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card mb-4 w-100">
                <div class="card-header">
                    My Holidays
                </div>
                <ul class="list-group list-group-flush">
                    {% for holiday in holidays %}
                    <li class="list-group-item">
                        <a class="stretched-link" href="{% url 'holiday-detail'  holiday.id %}"></a>
                        <h5 class="card-title">{{ holiday.name }}</h5>
                        <p class="card-text small text-muted">{{ holiday.start_date }} - {{ holiday.end_date }}</p>
                        {% for destination in holiday.destination_set.all %}
                        <span class="badge bg-primary">{{ destination.location }}</span>
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
                <div class="card-footer text-center">
                    <a href="{% url 'holiday-list' %}" class="btn btn-primary">View All Holidays</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card mb-4 w-100">
                <div class="card-header">
                    My Posts
                </div>
                <ul class="list-group list-group-flush">
                    {% for post in posts %}
                    <li class="list-group-item">
                        <a class="stretched-link" href="{{ post.get_absolute_url }}"></a>
                        <h5>{{ post.title }}</h5>
                        <p class="card-text small text-muted">{{ post.create_date }}</p>
                    </li>
                    {% endfor %}
                </ul>
                <div class="card-footer text-center">
                    <a href="{% url 'post-list' %}" class="btn btn-primary">View All Posts</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}