{% extends 'base.html' %}
{% block content %}

<h1>Destination Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
          <div>Location : {{ destination.location }}</div>
          <div>Start Date : {{ destination.start_date }}</div>
          <div>End Date : {{ destination.end_date }}</div>
          <div>Description : {{ destination.description }}</div>
          <div>Holiday : <a href="{% url 'holiday-detail' holiday.id %}">{{ destination.holiday }}</a></div>
      </div>
      <div class="card-action">
        {% comment %}
        <a href="{% url 'destinations_update' destination.id %}">Edit</a>
        <a href="{% url 'destinations_delete' destination.id %}">Delete</a>
        {% endcomment %}
      </div>
    </div>
  </div>
  <h2>Itinerary Lists</h2>
  <div>
  {% if itinerary.count %}
    {% for itinerary in destination.itinerary_set.all %}
    <div>
      <a href="{% url 'itinerary-detail' destination.id itinerary.id %}">
      {{ itinerary.description }}</a>
    </div>
    {% endfor %}
  {% else %}
    <div>{{destination.location}} still do not have any itinerary available</div>
  {% endif %}
  </div>
  {% endblock %}