{% extends 'base.html' %}
{% block content %}

<h1>Destination Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
          <div>Location : {{ destination.location }}</div>
          <div>Start Date : {{ destination.start_date }}</div>
          <div>End Date : {{ destination.end_date }}</div>
          <div>Description : {{ destination.description }}</div>
          <div>Holiday : <a href="{% url 'holiday-detail' holiday.id %}">{{ destination.holiday }}</a></div>
      </div>
      <div class="card-action">
        {% comment %}
        <a href="{% url 'destinations_update' destination.id %}">Edit</a>
        <a href="{% url 'destinations_delete' destination.id %}">Delete</a>
        {% endcomment %}
      </div>
    </div>
  </div>
  <h2>Itinerary Lists</h2>
  <div>
  {% if destination.itinerary_set.count %}
  <table>
  <thead>
  <tr>
    <th>Itinerary</th>
    <th>Accommodation</th>
    <th>Type</th>
    <tr>
  </thead>
  <tbody>
    {% for itinerary in destination.itinerary_set.all %}
    <tr>
      <td>
      <a href="{% url 'itinerary-detail' destination.id itinerary.id %}">
      {{ itinerary.description }}</a>
      </td>
      {% if itinerary.accommodation %}
      <td>{{itinerary.accommodation.accom_name}}</td>
      <td>{{itinerary.accommodation.accom_type}}</td>
      {% else %}
      <a href="{% url 'accom-create' destination.id itinerary.id %}">Add Accommodation</a>
      {% endif %}
      </tr>
    </div>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <div>{{destination.location}} still do not have any itinerary available</div>
  {% endif %}
    <button><a class='btn' href="{% url 'itinerary_create' destination.id%}">Create Itinerary</a></button>
  </div>
  {% endblock %}