{% extends 'base.html' %}
{% block content %}

<main class="container mt-5 holiday-list">
    <h1 class="mb-4 mb-sm-4">My Holidays</h1>
    <a class="btn btn-custom1 mb-4" href="{% url 'holiday-create' %}">New Holiday</a>
    {% for holiday in holidays %}
    <div class="card mb-3 mb-sm-4 holiday-card">
        <div class="card-body">
            <a href="{% url 'holiday-detail' holiday.id %}" class="stretched-link"></a>
            <h5 class="card-title">{{ holiday.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted holiday-card-subtitle">{{ holiday.start_date }} -
                {{holiday.end_date }}</h6>
            <p class="card-text">
                {% for destination in holiday.destination_set.all %}
                <span style="background-color:#F79920!important;"
                    class="badge bg-secondary">{{destination.location}}</span>
                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor %}
</main>



{% endblock %}