{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Holiday | TripMixer{% endblock %}

{% block content %}
<style>
    main {
        margin: 3rem;
    }
</style>
<main>
    {% if object %}
    <h2>Edit <span class="teal-text">{{ object.name }}</span></h2>
    <br>
    {% else %}
    <h2>New Holiday</h2>
    <br>
    {% endif %}

    {{ holiday_form.media }}
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ holiday_form|crispy }}
        </table>
        <input type="submit" value="Submit" class="btn-custom1">
    </form>
</main>

{% endblock %}