{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Holiday Details | TripMixer{% endblock %}

{% block content %}

<div class="container mt-5 holiday-detail">
    <h1 class="holiday-title">{{ holiday.name }}</h1>
    <div class="holiday-dates">
        <p>{{ holiday.start_date|date:"j M, Y" }} to {{ holiday.end_date|date:"j M, Y" }}</p>
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-custom1" data-bs-toggle="modal" data-bs-target="#editHolidayModal">
            Edit
        </button>
        <a href="{% url 'holiday-delete' holiday.id %}" class="btn btn-custom1">Delete</a>
    </div>

    <div class="destinations">
        {% if holiday.destination_set.all.count %}
        <h2>Destinations</h2>
        {% for destination in holiday.destination_set.all %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-end flex-wrap">
                    <div>
                        <h5 class="card-title">{{ destination.location }}</h5>
                        <p class="card-text">
                            {{ destination.start_date|date:"j M, Y" }} - {{ destination.end_date|date:"j M, Y" }}
                        </p>
                    </div>
                    <div class="flex-shrink-0">
                        <a href="{% url 'destination-detail' holiday.id destination.id %}"
                            class="btn btn-sm btn-custom">View</a>
                        <a href="{% url 'destination-delete' holiday_id=destination.holiday.id pk=destination.id %}"
                            class="btn btn-sm btn-custom">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-custom1" data-bs-toggle="modal" data-bs-target="#addDestinationModal">
        Add New Destination
    </button>

    <!-- Modal Add Destination Form -->
    <div class="modal fade" id="addDestinationModal" tabindex="-1" aria-labelledby="addDestinationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDestinationModalLabel">New Destination</h5>
                    <button type="button" class="btn-custom" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    {{ destination_form.media }}
                    <form action="{% url 'destination-create' holiday.id %}" method="POST">
                        {% csrf_token %}
                        {{ destination_form|crispy }}
                        <input type="submit" class="btn btn-custom" value="Add Destination">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit Holiday Form -->
    <div class="modal fade" id="editHolidayModal" tabindex="-1" aria-labelledby="editHolidayModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editHolidayModalLabel">Edit Holiday</h5>
                    <button type="button" class="btn-custom" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    {{ holiday_form.media }}
                    <form action="{% url 'holiday-update' holiday.id %}" method="POST">
                        {% csrf_token %}
                        {{ holiday_form|crispy }}
                        <input type="submit" class="btn btn-custom" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}