{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}My Holidays | TripMixer{% endblock %}

{% block content %}

<div class="container mt-5 holiday-list">
    <h1 class="mb-4 mb-sm-4">My Holidays</h1>
    <button type="button" class="btn btn-custom1 mb-2" data-bs-toggle="modal" data-bs-target="#addHolidayModal">New
        Holiday</button>
    {% for holiday in holidays %}
    <div class="card mb-3 mb-sm-4 holiday-card">
        <div class="card-body">
            <a href="{% url 'holiday-detail' holiday.id %}" class="stretched-link"></a>
            <h5 class="card-title">{{ holiday.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted holiday-card-subtitle">{{ holiday.start_date }} -
                {{holiday.end_date }}</h6>
            <p class="card-text">
                {% for destination in holiday.destination_set.all %}
                <span style="background-color:#F79920!important;"
                    class="badge bg-secondary">{{destination.location}}</span>
                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="addHolidayModal" tabindex="-1" aria-labelledby="addHolidayModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addHolidayModalLabel">New Holiday</h5>
                    <button type="button" class="btn-custom" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    {{ holiday_form.media }}
                    <form action="{% url 'holiday-create' %}" method="POST">
                        {% csrf_token %}
                        {{ holiday_form|crispy }}
                        <input type="submit" class="btn btn-custom" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}