{% extends 'base.html' %}

{% block title %}Remove Itinerary | TripMixer{% endblock %}

{% block content %}

<div class="container">
    <h1 class="mt-5 mb-3">Delete Itinerary</h1>

    <h4>Are you sure you want to delete {{ object.name }}?</h4>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes - Delete!" class="btn btn-danger">
        <a class="btn btn-custom" href="{% url 'itinerary-detail' itinerary.destination.id itinerary.id %}">Cancel</a>
    </form>
</div>

{% endblock %}