{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Itinerary Details | TripMixer{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-between align-items-end flex-wrap mt-5 mb-3">
        <h1 class="title flex-shrink-0">Itinerary Details</h1>
    </div>
    <h5>{{ itinerary.start_date|date:"j M, Y g:i A" }} to
        {% if itinerary.ends_same_day %}{{ itinerary.end_date|date:"g:i A" }}{% else %}{{ itinerary.end_date|date:"j M, Y g:i A" }}{% endif %}
    </h5>
    <div class="col s6">
        <div class="card">
            <div class="card-body">
                <div class="h4">
                    Destination :
                    <a class='btn btn-custom'
                        href="{% url 'destinations-detail' itinerary.destination.holiday.id itinerary.destination.id %}">{{ itinerary.destination }}</a>
                </div>
                <div>Start Date : {{ itinerary.start_date }}</div>
                <div>End Date : {{ itinerary.end_date }}</div>

                <div>{{ itinerary.description }}</div>

                {% if itinerary.accommodation %}
                <div>
                    Accommodation Name : {{ itinerary.accommodation.accom_name}}
                </div>
                <div>
                    Accommodation Type : {{ itinerary.accommodation.accom_type}}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="mt-2">
            <button type="button" class="btn btn-custom1" data-bs-toggle="modal" data-bs-target="#editItineraryModal">
                Edit
            </button>
            <a class="btn btn-sm btn-custom1"
                href="{% url 'itinerary-delete' itinerary.destination.id itinerary.id %}">Delete</a>
        </div>
    </div>

    <!-- Modal Edit Itinerary Form -->
    <div class="modal fade" id="editItineraryModal" tabindex="-1" aria-labelledby="editItineraryModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editItineraryModalLabel">Edit Itinerary</h5>
                    <button type="button" class="btn-custom" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    {{ itinerary_form.media }}
                    <form action="{% url 'itinerary-update' itinerary.destination.id itinerary.id %}" method="POST">
                        {% csrf_token %}
                        {{ itinerary_form|crispy }}
                        <input type="submit" class="btn btn-custom" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}