{% extends 'base.html' %}
{% block content %}

<h1>Itinerary Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
      <div>Destination : <a href="{% url 'destinations-detail' destination.holiday.id destination.id %}">{{ itinerary.destination }}</a></div>
      <div>Start Date : {{ itinerary.start_date }}</div>
      <div>End Date : {{ itinerary.end_date }}</div>
      <div>Description : {{ itinerary.description }}</div>
      </div>
      <div class="card-action">
        <a href="{% url 'itinerary_update' destination.id itinerary.id %}">Edit</a>
        {% comment %}
        <a href="{% url 'itinerary_delete' itinerary.id %}">Delete</a>
        {% endcomment %}
      </div>
    </div>
  </div>

  {% endblock %}